@mixin align-media($align_class) {
  .align#{$align_class}-center {
    @include template-align-center;
  }
  .align#{$align_class}-right {
    @include template-align-right;
  }
  .align#{$align_class}-left {
    @include template-align-left;
  }

  .align-text#{$align_class}-center {
    @include template-align-text-center;
  }
  .align-text#{$align_class}-left {
    @include template-align-text-left;
  }
  .align-text#{$align_class}-right {
    @include template-align-text-right;
  }

  .align-row#{$align_class}-center {
    align-content: center;
    justify-content: center;
  }

  .align-vertical#{$align_class}-top {
    vertical-align: top;
  }
}

@mixin template-align-center {
  margin: 0 auto;
  float: none;
  text-align: unset;
}

@mixin template-align-right {
  float: right;
  text-align: unset;
}
@mixin template-align-left {
  float: left;
  text-align: unset;
}

@mixin template-align-text-center {
  text-align: center;
  float: none;
}
@mixin template-align-text-left {
  text-align: left;
  float: none;
}
@mixin template-align-text-right {
  text-align: right;
  float: none;
}
