@mixin template-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin template-cols($value) {
  @if $value != 12 {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: calc(var(--gutter-padding) / 2);
  }
  @if $value != 12 {
    flex: 1 0 0%;
    padding: calc(var(--gutter-padding) / 2);
  } @else {
    flex: 0 0 auto;
    padding: calc(var(--gutter-padding) / 2);
  }
}
