$framework-shortcode: dcw !default;
$cols-len:12;
$screen-width-xs:580px;
$screen-width-sm:640px;
$screen-width-md:720px;
$screen-width-lg:1024px;
$screen-width-xl:1280px;
$screen-width-xxl:1580px;

$default-border-radius:5px;
$default-padding:5px;