@import "../helper/core";
/* button,fields */
.fields,a.button,span.button,div.button,button.button,input.button[type=file],input.button[type=button],
input.button[type=submit],input.button[type=reset]{

    padding: $default-padding;
    border-radius: $default-border-radius;
}
/* button */
.button-text{
    cursor: pointer;
    user-select: none;
    background-color: transparent !important;
    border: 0px solid transparent !important;

    
}

div.button{
    display: inline-block;
    
}

a.button,span.button,div.button{

    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    appearance: push-button;
    user-select: none;
    white-space: inherit;
    rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
   
    margin: 0em;
    font: 13.3333px Arial;
    writing-mode: horizontal-tb;
}
/* link */
a.button,.link{
    text-decoration: none;
    margin:1px 4px;
}

