@import "../helper/core";
@import "../mixins/grid_query";

@include container-media-list([fluid], 100%);

@include max-media-query(xs) {
  @include container-media-list(
    [xs,
    sm,
    md,
    lg,
    xl,
    xxl,
    standard],
    $screen-width-xs - 10px
  );
  .container-inline {
    display: inline-block;
  }
}

@include min-media-query(sm) {
  @include container-media-list(
    [sm,
    md,
    lg,
    xl,
    xxl,
    standard],
    $screen-width-sm - 10px
  );
  .container-inline {
    display: inline-block;
  }
}
@include min-media-query(md) {
  @include container-media-list(
    [md,
    lg,
    xl,
    xxl,
    standard],
    $screen-width-md - 10px
  );
}
@include min-media-query(lg) {
  @include container-media-list(
    [lg,
    xl,
    xxl,
    standard],
    $screen-width-lg - 10px
  );
}
@include min-media-query(xl) {
  @include container-media-list([xl, xxl, standard], $screen-width-xl - 10px);
}
@include min-media-query(xxl) {
  @include container-media-list([xxl, standard], $screen-width-xxl - 10px);
}

.container-inline {
  display: inline-block;
}
