@import "../../helper/core";


/**Button **/
span.button a:visited,span.button a:active,div.button a:visited,div.button a:active{
    color: rgb(72,72,72);
  }
input.button[type=file], input.button[type=button], input.button[type=submit], input.button[type=reset] {
       
      border:1px solid #ccc;
  }
a.button,span.button a:hover,div.button:hover,span.button:hover, div.button:hover, button.button:hover, input.button[type=file]:hover, input.button[type=button]:hover, input.button[type=submit]:hover, input.button[type=reset]:hover{
      /**color: #4a9ec7;**/
      
      box-shadow: 0px 0px 3px #000;
  }
  
a.button,span.button, div.button, button.button, input.button[type=file], input.button[type=button], input.button[type=submit], input.button[type=reset] {
  
     /** box-shadow: 0px 1px 2px grey; **/
     outline-color:  #eee;
     box-shadow: 0px 0px 3px #000;
      cursor: pointer;
  }
.button-text{
       
      box-shadow: 0px 0px 0px !important;
      
  }
  a.link:hover,.button-text:hover{
       
      /**text-decoration:underline **/
      text-shadow: 1px 1px 8px #000;
      
  }
.button:active{
       
      color:gray
      
  }
.button-text:active{
       
      color:gray
      
  }
  
a.button,  span.button:active,div.button:active{
     /** border: 1px solid orange; **/
     box-shadow:0px 1px 1px 1px #000 inset;
     outline-color:  #eee;
    
     
      /** color:gray **/
 }
