

/* Table */
table.dcw{width: 100%;table-layout: fixed;border-radius: 3px;padding: 1px;}
table.dcw thead{}
table.dcw thead tr > th, table.dcw thead > th{width: 1px;
    white-space: nowrap;overflow: hidden}
table.dcw tbody{}
table.dcw thead th, table.dcw th{padding: 5px}
table.dcw tbody td{
  padding:5px; 
}


/* button,fields */
.dcw-fields,span.dcw-btn,div.dcw-btn,
button.dcw-btn,input.dcw-btn[type=file],input.dcw-btn[type=button],
input.dcw-btn[type=submit],input.dcw-btn[type=reset]{

    padding: 5px;
    border-radius: 5px;
}
/* button */
.dcw-btn-text{
    cursor: pointer;
    user-select: none;
    background-color: transparent !important;
    border: 0px solid transparent !important;

    
}

div.dcw-btn{
    display: inline-block;
    
}

span.dcw-btn,div.dcw-btn{

    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    -webkit-appearance: push-button;
    user-select: none;
    white-space: inherit;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
   
    margin: 0em;
    font: 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb;
}
/* link */
.dcw-link{
    text-decoration: none;
    margin:1px 4px;
}
/* fields */
.dcw-fields{
    vertical-align: middle;
    margin:1px;
}
.dcw-arrange-fields{

}

.dcw-arrange-fields select.dcw-fields,
.dcw-arrange-fields textarea.dcw-fields,
.dcw-arrange-fields input.dcw-fields:not([type=radio]):not([type=checkbox]){
    width:100%;
}
/* menu */
.dcw-mb-btn{
    display: none;
}
li.dcw-seleted{

}
ul.dcw-mb-menu,ul.dcw-menu{
    list-style: none;
    padding: 0
}
ul.dcw-mb-menu  ul,ul.dcw-menu  ul{
    list-style: none;
    
}
ul.dcw-menu-horizontal >li{
    display: inline-block;
    vertical-align: top;
    
}
ul.dcw-menu-horizontal >li ul{
    display: none;

}
ul.dcw-menu-horizontal >li:hover >ul{
    display: inline-block;
    vertical-align:top;
   
}
ul.dcw-menu-horizontal >li ul>li{
   
    vertical-align: top;
}


ul.dcw-menu-vertical >li{

    vertical-align: top;
}
ul.dcw-menu-vertical >li ul{
    display: none;
}
ul.dcw-menu-vertical >li:hover >ul{
    display: block;
    vertical-align:top;
   
}
ul.dcw-menu-vertical >li ul>li{
   
    vertical-align: top;
}

/* cards rows */
.dcw-rows,.dcw-cards{
    display: block;
}

.dcw-cards-tiles{
    
}
/* panel */
.dcw-panel{
    display: block;
    padding: 5px;
}

@media(max-width:600px){
  
  table.dcw.mb_scroll_tbody {display:block}
  table.dcw.mb_scroll_tbody tbody{display:block;overflow-x:scroll;width:auto;position:relative;white-space:nowrap}
  table.dcw.mb_scroll_tbody thead{float:left;width: calc(50% - 10%)}
  table.dcw.mb_scroll_tbody tbody tr{display:inline-block;vertical-align:top}
  table.dcw.mb_scroll_tbody thead th, table.dcw th{padding: 0px }

  table.dcw.mb_collapse_row {width:90%}
  table.dcw.mb_collapse_row table, 
  table.dcw.mb_collapse_row tbody, 
  table.dcw.mb_collapse_row th, 
  table.dcw.mb_collapse_row td, 
  table.dcw.mb_collapse_row tr { 
    display: block; 
  }
  table.dcw.mb_collapse_row thead tr{display:none}

  table.dcw.mb_collapse_row tbody tr td:before { content: attr(data-title); }

  .dcw.mb_scroll_y{
      width:100%;
      overflow-y: auto;
      _overflow: auto;
      margin:0 0 1em;
  }

  /* menu */
.dcw-mb-btn{
    display: block;
}
ul.dcw-mb-menu >li:not([class=dcw-mb-btn]){
    display: none;
    
}

/* rows columns */
.dcw-cols,.dcw-cols-8p,.dcw-cols-7p,.dcw-cols6p,.dcw-cols-5p,.dcw-cols-4p,.dcw-cols-3p,.dcw-cols-2p{
   width:100%;
}
}

