/* Title */
h6.dcw , h5.dcw , h4.dcw ,h3.dcw ,h2.dcw,h1.dcw {
	margin: .5px;
	color:rgb(72,72,72)
}

/* Table */
table.dcw{border:1px solid #ccc}
table.dcw thead{border:1px solid #ccc;background-color:#3082b2;color: #eee}
table.dcw tbody{border:1px solid #ccc}
table.dcw tbody td{border-bottom:1px solid #ccc;border-left:1px solid #ccc}
table.dcw.zebra_vertical tbody  tr td:nth-child(odd){border:1px solid #ccc;background-color:#ccc}
table.dcw.zebra_vertical tbody  tr td:nth-child(even){}


table.dcw.zebra_horizontal tbody  tr:nth-child(odd) td{border:1px solid #ccc;background-color:#ccc}
table.dcw.zebra_horizontal tbody  tr:nth-child(even) td{}
/* end Table */

.dcw-container,.dcw-container-fix{
	padding: 5px;
}
/**Field **/
select.dcw-fields{
	background-color: #fff;
}

 
.dcw-fields:not([type=radio]):not([type=checkbox]):not(select){

-moz-box-shadow: inset 1px 0px 3px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 1px 0px 3px -1px rgba(0,0,0,0.75);
box-shadow: inset 1px 0px 3px -1px rgba(0,0,0,0.75);
display: block;


 
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;

transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
font-size: large;
}
.dcw-fields:disabled{
	background-color: #eee !important;
	outline-color:  #cccc;
	box-shadow: 0px 0px 0px #cccc !important;
}
.dcw-fields:not([type=radio]):not([type=checkbox]):focus{
	box-shadow: 0px 4px 10px #ddd !important;
	outline-color:  #4a9ec7;
	

}
/** end Field **/


/**Button **/
span.dcw-btn a:visited,span.dcw-btn a:active,div.dcw-btn a:visited,div.dcw-btn a:active{
  color: rgb(72,72,72);
}
input.dcw-btn[type=file], input.dcw-btn[type=button], input.dcw-btn[type=submit], input.dcw-btn[type=reset] {
	 
	border:1px solid #ccc;
}
a.dcw-link:hover,span.dcw-btn a:hover,div.dcw-btna:hover,span.dcw-btn:hover, div.dcw-btn:hover, button.dcw-btn:hover, input.dcw-btn[type=file]:hover, input.dcw-btn[type=button]:hover, input.dcw-btn[type=submit]:hover, input.dcw-btn[type=reset]:hover{
	/**color: #4a9ec7;**/
	
	box-shadow: 0px 1px 5px #000;
}

 span.dcw-btn, div.dcw-btn, button.dcw-btn, input.dcw-btn[type=file], input.dcw-btn[type=button], input.dcw-btn[type=submit], input.dcw-btn[type=reset] {

   /** box-shadow: 0px 1px 2px grey; **/
   outline-color:  #eee;
   box-shadow: 0px 0px 3px #000;
    cursor: pointer;
}
.dcw-btn-text{
     
    box-shadow: 0px 0px 0px !important;
    
}
.dcw-btn-text:hover{
     
	/**text-decoration:underline **/
	text-shadow: 1px 1px 8px #000;
    
}
.dcw-btn:active{
     
    color:gray
    
}
.dcw-btn-text:active{
     
    color:gray
    
}

 span.dcw-btn:active,div.dcw-btn:active{
   /** border: 1px solid orange; **/
   box-shadow:0px 1px 1px 1px #000 inset;
   outline-color:  #eee;
  
   
	/** color:gray **/
}
/** link **/
a.dcw-link,a.dcw-link:visited,a.dcw-link:active{
  color: #3082b2;
}
/* rows columns */

.dcw-cols,.dcw-cols-8p,.dcw-cols-7p,.dcw-cols6p,.dcw-cols-5p,.dcw-cols-4p,.dcw-cols-3p,.dcw-cols-2p{
   border: 1px solid #ccc;
}

/** end Button **/

/**
*js support UI
*/

.dcw-ext-default-title{
	
	-moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;

	  /*
	    Introduced in IE 10.
	    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	  */
	  -ms-user-select: none;
	  user-select: none;
}

@media(max-width:600px){
    /* Table */
	table.dcw.mb_scroll_tbody tbody{display:block;overflow-x:scroll;width:auto;position:relative;white-space:nowrap}
	table.dcw.mb_scroll_tbody thead{float:left;width: calc(50% - 10%)}
	table.dcw.mb_scroll_tbody thead tr th{display:block;margin:1px;border-bottom:1px dotted #fff;}
	table.dcw.mb_scroll_tbody tbody tr td{height:20px;display:block;margin:1px;padding:5px;border-bottom:1px dotted #fff;}
    


	
	table.dcw.mb_collapse_row tr { border: 1px solid #ccc; }
    
	table.dcw.mb_collapse_row tbody tr td { 		
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 35%; 
		white-space: normal;
		text-align:left;
		width: auto; 
		height:100%
	}
 		
		table.dcw.mb_collapse_row tbody tr td:before { 
		position: absolute;
		background-color:#3082b2;
		color:#fff;
		border-top:1px solid #eee;
		top: 0px;
		left: 0px;
		width: 30%; 
		padding-right: 10px; 
		padding:5px;
		white-space: nowrap;
		word-wrap:break-word;
		text-align:left;
		font-weight: bold;
		height:100%
	}
    /* end Table */

}