@import "../helper/core";

.cards{
    border-radius: $default-border-radius;
    margin: $default-border-radius;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
}

.cards-header{
    border-top-left-radius: $default-border-radius;
    padding:$default-padding;
    font-weight: bold;
}

.cards-body{
    padding:$default-padding;
    margin: $default-padding;
}
//https://getbootstrap.com/docs/4.0/components/card/