@import "../helper/core";
@import "../mixins/row_cols";
@import "../mixins/grid_query";

/* columns */
@for $var from 1 through $cols-len   {
    .cols-#{$var} {
      width: ($var / $cols-len)*100%;
      @include template-cols($var);
    }

    @include max-media-query(xs){
      .cols-xs-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
    }
   
    @include min-media-query(sm){
     
      .cols-sm-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
    }
    @include min-media-query(md){
      .cols-md-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
    
    }
    @include min-media-query(lg){
    
      .cols-lg-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
    }
    @include min-media-query(xl){
      .cols-xl-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
     
    }
    @include min-media-query(xxl){
      
      .cols-xxl-#{$var} {
        width: ($var / $cols-len)*100%;
        @include template-cols($var);
      }
    }  
}


 

.rows {
  @include template-rows;
}


.cols{
  @include template-cols(0);
  max-width: 100%;
}
